.bg-lightgray, .skillData-Wrapper {
    background-color: #ddd;
}
.skillData-Wrapper {
    width: 100%;
}

#skillgraph {
  padding: 1em; 
}

.skill-percent{
  margin-top: 10px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.skillLabel{
  width: 100%;
  margin-top: 10px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #050d18d7;

}

.competence-Wrapper{
  line-height: 0.1 0.7em;
  height: 12px;
  width: .1em;
  float: left;
  color: white;
  text-align: center;
}

.skillData-Wrapper, .label {
  width: 100%; 
}

.skillData, .skillData-Wrapper {
  line-height: 0.1 0.7em;
  height: 12px;
  float: left;
  color: white;
  text-align: center; 
}

.a95{
  width: 95%;
}
.a90{
  width: 90%;
}

.a85{
  width: 85%;
}

.a80{
  width: 80%;
}

.a75{
  width: 75%;
}
.a70{
  width: 70%;
}

.a65{
  width: 65%;
}

.a60{
  width: 60%;
}

.a55{
  width: 55%;
}

.a50{
  width: 50%;
}

.a45{
  width: 45%;
}

.bg-rust {
    background-color: #92145F;
}

a{
  text-decoration: none;
}





